<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul class="chatheading">
        
    </ul>
    <form action="/chat" method="POST" onsubmit="chatsend(event)">
        <input type="text" name="chatting" id="chatting" required>
        <input type="hidden" name="username" id="username">
        <hr>
        <button type="submit">send</button>
    </form>

    
    <script>
        
        function chatsend(event){
            // event.preventDefault()
            // const chat = document.getElementById('chatting').value
            // const username = document.getElementById('username').value
            // console.log(chat)
        document.getElementById('username').value = JSON.parse(localStorage.getItem('username'))
        // const y = target.chatting.value;
        // const y = event.target.chatting.value
    // console.log(y)
        }
    </script>
</body>
</html>